.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.content img {
  width: 120px;
  height: 120px;
}
