.container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  mask-image: linear-gradient(
    90deg,
    transparent,
    var(--background) 30%,
    var(--background) 70%,
    transparent
  );

  padding: 10px 0px;
  gap: 20px;
  overflow-x: hidden;
  background: var(--background);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  overflow-x: hidden;
}

.images {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 100px;
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-30%);
  }
}

.content .images img {
  width: 120px;
  height: 120px;
}
